<!--
<div class="container-fluid">
    <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">

      <img class="rounded-circle" src="/assets/job-logo.png" alt="somthing" id="logobrand"><a class="navbar-brand "
        id="logo"><B>JOBS</B></a>

      <ul class="navbar-nav ml-auto">
  
        <li class="nav-item">
          <a routerLink="/dashboard/jobs" class="nav-link p-3" > <i class="fa fa-briefcase"></i> Dashboard</a>
        </li>
       <li class="nav-item">
          <a routerLink="/seeker/search" class="nav-link p-3" > <i class="fa fa-search"></i> Search</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
           <i class="fa fa-user"></i>{{username}}
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-light">
            <a class="dropdown-item p-2" (click)="gotoprofilepage()" style="cursor: pointer;">PROFILE</a>
            <a class="dropdown-item p-2" (click)="logoutemployee()" style="cursor: pointer;">LOGOUT</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
<div class="container mt-2 dashboard">
            <nav>
                <button class="btn btn-info btn-lg m-1" (click)="jobs()" >JOBS</button>
                <button class="btn btn-info btn-lg m-1" (click)="appliedjobs()">APPLIED JOBS</button>
            </nav>
    <router-outlet></router-outlet>
</div>-->
  
  <head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   </head>
   
   <body>
   <div class="search-container">
           <input type="text" name="search" placeholder="Search for Companies..." class="search-input">
           <a href="#" class="search-btn">
                   <i class="fas fa-search"></i>      
           </a>
       </div>
       <li class="nav-item">
        <a routerLink='/editprofile' class="nav-link p-3" > <i class="fa fa-envelope-open-o"></i> PROFILE</a>
      </li>
       </body>
      
    <!--   <div class="container mt-2 dashboard">
        <nav>
            <button class="btn btn-info btn-lg m-1" (click)="jobs()" >JOBS</button>
            <button class="btn btn-info btn-lg m-1" (click)="appliedjobs()">APPLIED JOBS</button>
        </nav>
<router-outlet></router-outlet>
</div>-->
<div class="warpper">
  <input class="radio" id="one" name="group" type="radio" checked>
  <input class="radio" id="two" name="group" type="radio">
  <input class="radio" id="three" name="group" type="radio">
  <div class="tabs">
  <button class="tab" id="one-tab" for="one" (click)="jobs()" >JOBS</button>
  <button class="tab" id="two-tab" for="two" (click)="appliedjobs()" >APPLIED JOBS</button>
    </div>
    <router-outlet></router-outlet>
</div>



 

 


