.table{
    margin-top: 15px;
    background-color:aliceblue;
}

thead{
    background-color:rgb(2, 54, 56);
    font-size: medium;
    border-style: groove;
    margin-bottom:auto;
}
th{
    color: white;
}

td{ font-family: 'Didact Gothic', sans-serif;
    color: #087C9E;
    font-size: large;
    font-weight: bold;
    flex-basis: 10%;
   
}
tr{ font-family: 'Didact Gothic', sans-serif;
    color: #087C9E;
    
}


tbody{
width: fit-content;
height: 50px;
margin-top: 40px;
    }