
<head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   </head>
<body>
    <div class="search-container">
            <input type="text" name="search" placeholder="Search for Companies..." class="search-input">
            <a href="#" class="search-btn">
                    <i class="fas fa-search"></i>      
            </a>
        </div>
       
        </body>
<div class="warpper">
    <input class="radio" id="one" name="group" type="radio" checked>
    <input class="radio" id="two" name="group" type="radio">
    <input class="radio" id="three" name="group" type="radio">
    <div class="tabs">
        <button class="tab" id="one-tab" for="one" (click)="postjobs()" >POST JOBS</button>
    <button class="tab" id="one-tab" for="one" (click)="posted_jobs()" >POSTED JOBS</button>
    <button class="tab" id="two-tab" for="two" (click)="applied_Employees()" >SEEKERS</button>
    
      </div>
      <router-outlet></router-outlet>
  </div>
