<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

   
            <div class="container mt-5">
                <table class="table">
            <thead >
                <tr>
                    <th *ngFor="let key of headers">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let job of posted" >
                    
                    <td><span>{{job.jobRole}}</span></td>
                  <td><span>{{job.jobDescription}}</span></td>
                  
                  <td><span>{{job.jobType}}</span></td>
                <td><span>{{job.jobDomain}}</span></td>
                    <td><span>{{job.jobCompensation}}</span></td>
                    <td><span>{{job.jobOpenFor}}</span></td>
                    <td><span>{{job.jobLocation}}</span></td>
                    <td><span>{{job.company}}</span></td>
            
                </tr>
               
                </tbody></table>
            </div>
